@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-display text-[#111318] dark:text-white bg-background-light dark:bg-background-dark;
}

@layer components {
  /* Custom scrollbar for webkit */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }
  .range-slider-thumb {
    -webkit-appearance: none;
    pointer-events: none;
  }
  .range-slider-thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #135bec;
    cursor: pointer;
    z-index: 10;
    position: relative;
  }
}